.habit {
  padding:0;
  list-style:none;
}

.habit-label {
  font-size:2.5rem;
}

.habit-button {
  font-size:2.5rem;
  border:none;
  background:none;
}

.habit-count {
  font-size: 2.5rem;
  display:inline-block;
  padding:8px 20px;
  margin:0 10px;
  border-radius: 30px;
  background-color: greenyellow;
}