.habit {
  padding:0;
  list-style:none;
}

.habit-label {
  font-size:2.5rem;
}

.habit-button {
  font-size:2.5rem;
  border:none;
  background:none;
}

.habit-count {
  font-size: 2.5rem;
  display:inline-block;
  padding:8px 20px;
  margin:0 10px;
  border-radius: 30px;
  background-color: greenyellow;
}

header{
  display:flex;
  padding:10px 20px;
  background: #ddd;
}

header strong{
  display:inline-block;
  font-size:2rem;
  padding:20px;
  background:greenyellow;
  border-radius: 50px;;
}